.modal{
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;                  /* completely hide modal dialog when page is first opened */
  visibility: hidden;          /* AND visibility off .. stops cursors auto-recognising elements and changing to pointer */
  transform: scale(1.2);           /* zoom-out effect */
  transition: all .3s ease-out;    /* zoom-out slowly */

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);           /* zoom-in effect */
  }

  &__inner {
    postion: absolute;         /* elements that are postioned absolutely try to shrink wrap their size */
    width: 100%;               /* ... do not shrink */
    top: 50%;                  /* push element down */
    transform: translateY(50%);
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.65;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);          /* make X wider .. making it squareish */
    transform-origin: 100% 0;        /* preserve 'right: 15px' by transforming from top-left corner  */
    color: $mainBlue;
    cursor: pointer;
    &:hover {
      color: $mainOrange;
    }
  }
}

