.page-section {
  padding: 1.2rem 0;                  /* smaller baseline padding for small screens */
  @mixin atMedium {
    padding: 4.5rem 0;                /* top & bottom padding only */
  }

  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }
}