.row {

  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large{
    padding-right: 100px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }
    /* > div  ..  Select all the 'children' that use a tag of div */

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {

    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }
    /* If the rows available width as 100%, then divide it up among our 12 column grid 
        then 100/12, 8.333, that each each column grid is 8.33% wide

       Cannot let the combined width of the columns & padding be more than 100%, otherwise it will break onto two lines 
        unless you use    box-sizing: border-box;  (see _global.css) */        
  }

}

    