.site-header {
  padding: 10px 0;                  /* space above and below the button container */
  position: absolute;               /* when an element is positioned absolutely by default it will try to shrink wrap 
                                       and only use as much soace as it needs to fit its content */
  width: 100%;                      /* we can adjust this in our CSS to telling this element to have a width of 100% */
  z-index: 2;                       /* in-front of the large-hero section */
  transition: background-color .3s ease-out; /* WHEN we apply background color, transition slowly .. */

  &--is-expanded {
    background-color: rgba($mainBlue,.55);
  }

  @mixin atMedium {
    position: fixed;                        /* STICKS MENU TO THE TOP OF THE VIEWPORT for larger screens */
    background-color: rgba($mainBlue,.3);   /* rgba is overloaded by hexrgba to allow hex color variables */

    &--dark {
      background-color: rgba(23, 51, 72, .85);
    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    position: absolute;                      /* the logo floats over the edge of the site header! */
    top: 0;
    background-color: $mainBlue;
    padding: 25px 36px;
    left: 50%;                               /* move the logo (specifically, it's left edge) to the center of the screen */
    transform: translateX(-50%) scale(0.8);  /* THEN move the logo to the left by half of it's own width */
                                             /* scale the logo N.B. the centerpoint is the origin of the transform */
    transition: transform .3s ease-out;                                         
    transform-origin: 50px 0px;              /*  .. move the origin of the transform */

    @mixin atMedium {
      left: auto;                            /* undo the centering on larger screens */
      transform: translateX(0) scale(1.0);   /* undo the centering on larger screens */

      .site-header--dark & {                 /* selector will target the logo only when the dark header is being used */
        transform: scale(0.56);
      } 
    }
  }

  &__logo__graphic {
      text-indent: -9999px;    /* text no longer rendered on the 'page', per se */  
  }

  &__menu-icon {
    width: 20px;
    height: 19px;               /* reduced by 1px to make 3 small lines the space correctly */
    /* background-color: #FFF; */
    position: absolute;
    z-index: 10;          /* Once the menu-content is visible (z-index 1) it's overlapping the icon. Increase z-index! */
    top: 10px;
    right: 10px;

         /*   pseudo selectors - removes the need to specify __top and __bottom in index.html !
                             will only display if     content: ""                            */

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 20px;
      height: 3px;
      background-color: white;
      transform-origin: 0 0;           /* default: 50% 50%               left: 0  top: 0-top  */
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background-color: white;
      transform-origin: 0 50%;         /* shrink from right to left      left: 0  top: 50%-middle */
      transition: all .3s ease-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 20px;
      height: 3px;
      background-color: white;
      transform-origin: 0 100%;        /* default: 50% 50%               left: 0  top: 100%-bottom   */
      transition: transform .3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);           /* ScaleX - lengthen bar by 25% */
    }
    .site-header__menu-icon__middle {
      opacity: 0;
      transform: ScaleX(0);                            /* ScaleX - reduce bar length to nothing */
    }
    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);    /* ScaleX - lengthen bar by 25% */
    }
  }

  &__menu-content {
    opacity: 0;                /* WAS: display: none; */
    transform: scale(1.2);      /* 1.2 - content will initially look 20% larger than normal */
    transition: all .3s ease-out;
    position: relative;        /* needed for -ve z-index */
    z-index:-10;               /* with z -10 any invisable text will no longer be selectable or clickable */

    padding-top: 90px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;              /* WAS: display: block; */
      z-index: 1;              /* undo settings for hidden text */
      padding-top: 0;          /* undo settings for smaller screens */
      transform: scale(1);     /* undo settings for smaller screens */
    }

    &--is-visible {
      opacity: 1;              /* WAS: display: block; */
      z-index: 1;              /* undo settings for hidden text */
      transform: scale(1);
    }
  }
}