.wrapper {
  overflow: hidden;            /* NICE! */ 
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;           /* when we used box-sizing: border-box; the max-width actually dropped by 36px to 1164px */
  margin-left: auto;
  margin-right: auto;

  &--medium {                  /* narrower column than the default 1200px width column */
    max-width: 976px;
  }

 /* "Note the way that this image is positioned and sized on small screens. The reason
      the extra spacing exists is because we have a wrapper wrapped inside a wrapper. 

     i.e. We have a div [class=wrapper wrapper--medium] surrounding the image, 
           and this div is nested within another div [class=wrapper].

     We don't want that nested padding effect to actually take place. 
      So what we can do is to go into wrapper.css and let's just say 
        that any wrapper inside another wrapper should no longer have any horizontal padding..." */

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;        /* 62/16px = 3.875rem,   62 pixels is measured from the design doc */
    }
  }

}